:root {
  --brand-color: #2196f3;
  --brand-color2: #212121;
  --brand-color3: #757575;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--brand-color2);
}
.navi-links {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  cursor: pointer;

  color: var(--brand-color2);
}
.navi-contact {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  cursor: pointer;

  color: var(--brand-color3);
}
.title-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--brand-color);
}
.title-second-phrase {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #000000;
}

.navi-links:hover,
.navi-links:focus,
.navi-links:active {
  color: var(--brand-color);
}
.navi-contact:hover,
.navi-contact:focus,
.navi-contact:active {
  color: var(--brand-color);
}
.main-section {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.main-section-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  /* identical to box height, or 188% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}
.index-div-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--brand-color2);
}
.index-div-paragraph {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--brand-color3);
}
.second-section-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--brand-color2);
}
.third-section-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--brand-color2);
}
.team-names {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--brand-color2);
}
.team-description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--brand-color3);
}
.portfolio-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  cursor: pointer;

  color: var(--brand-color2);
}
.portfolio-button:hover,
.portfolio-button:focus,
.portfolio-button:active {
  color: #ffffff;
}
.portfolio-img-names {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: var(--brand-color2);
}
.portfolio-img-type {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;

  color: var(--brand-color3);
}
